.content img {
    width: 100%;
    height: 100px;
    color: #030303;
}

.ava img {
    width: 120px;
    height: 120px;
}

.prof{
    display: grid;
    grid-template-rows: 160px 10fr;
    grid-template-columns: 160px 10fr;
}

.posts {
    margin-top: 20px;
}
